

<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    .add-row_length{
        padding-right: 120px !important;
    }
</style>

<style>
    /* Jquery validation */
    label {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    /* Datatable => to float button right  */
    div.dt-buttons {
        position: relative;
        float: right;
        border-radius: 20px;
    }

    /* Datatable => rounded corner button  */
    button.dt-button {
        border-radius: 20px;
    }

    .permission-denied {
        color: red;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
    }
</style>





<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Add Blog</h4>
                            <ul class="breadcrumbs">
                                <li class="nav-home">
                                    <a href="/">
                                        <i class="flaticon-home"></i>
                                    </a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a>Support & FAQ's</a>
                                </li>
                                <li class="separator">
                                    <i class="flaticon-right-arrow"></i>
                                </li>
                                <li class="nav-item">
                                    <a href="">Add Blog</a>
                                </li>
                            </ul>
                            <div class="ml-auto">
                                {% if is_superuser == True %}
                                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#add-blog-modal">
                                        <i class="fa fa-plus"></i>
                                        &nbsp;Add Blog
                                    </button>
                                {% else %}
                                    {% for actions in action_permissions_list %}
                                        {% if actions.module_id|lower == "Support & FAQ's"|lower and actions.feature_id|lower == "Add Blog"|lower %}
                                            {% if actions.add_permission == "1" %}
                                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#add-blog-modal">
                                                    <i class="fa fa-plus"></i>
                                                    &nbsp;Add Blog
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if is_superuser == True %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="table-responsive">
                                        <table id="SMSsubscription" class="display table table-hover">
                                            <thead>
                                                 <!-- <tr>
                                                <th id="test_3" colspan="2"></th>
                                                <th id="test_3" colspan="4"></th>
                                                </tr> -->
                                                <tr>
                                                    <!-- <th>Sr. No.</th> -->
                                                    <th>User </th>
                                                    <!-- <th>Module Name</th> -->
                                                    <th>Blog Title</th>
                                                    <!-- <th>Blog</th> -->
                                                    <th align="center">Action</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                            </tfoot>
                                            <tbody>
                                                {% for object in all_blogs %}
                                                <tr>
                                                  <!--   <td>
                                                        {{ forloop.counter }}
                                                    </td> -->
                                                    <td style="text-transform: capitalize;">
                                                        {% if object.user_name == "other_business" %}
                                                            Other Business
                                                        {% elif object.user_name == "petrol_pump" %}
                                                            Petrol Pump
                                                        {% elif object.user_name == "parking_lot" %}
                                                            Parking Lot
                                                        {% else %}
                                                            {{ object.user_name }}
                                                        {% endif %}
                                                    </td>
                                                    <!-- <td style="text-transform: capitalize;">
                                                        {{object.module_name_new}}
                                                    </td> -->
                                                    <td>
                                                        {{object.blog_title}}
                                                    </td>
                                                   <!--  <td>
                                                        {{ object.blog|safe }}
                                                    </td> -->

                                                    <td>
                                                        <div class="form-button-action">

                                                            {% csrf_token %}
                                                            <button type="button" data-toggle="tooltip"
                                                                data-target="#myEditModal" title=""
                                                                class="btn btn-link btn-primary btn-lg editBtn"
                                                                id="edit-modal-div" data-original-title="Edit"
                                                                data-url="{{object.id}}" data-id="{{object.id}}"
                                                                data-user="{{ object.user_name }}"
                                                                data-module="{{ object.module_name }}">
                                                                <i class="fa fa-edit"></i>
                                                            </button>

                                                            <button type="button" data-toggle="tooltip" title="Delete"
                                                                class="btn btn-link btn-danger btn-lg deleteBtn"
                                                                data-original-title="Delete Blog Module"
                                                                data-url="{{object.id}}" data-id="{{object.id}}">
                                                                <i class="fas fa-trash" aria-hidden="true"></i>
                                                            </button>

                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% for actions in action_permissions_list %}
                            {% if actions.module_id|lower == "Support & FAQ's"|lower and actions.feature_id|lower == "Add Blog"|lower %}
                                {% if actions.view_permission == "1" %}
                                    <input type="hidden" value="1" name="access_permission" id="access_permission">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="table-responsive">
                                                    <table id="SMSsubscription" class="display table table-hover">
                                                        <thead>
                                                             <!-- <tr>
                                                            <th id="test_3" colspan="2"></th>
                                                            <th id="test_3" colspan="4"></th>
                                                            </tr> -->
                                                            <tr>
                                                                <!-- <th>Sr. No.</th> -->
                                                                <th>User </th>
                                                                <th>Module Name</th>
                                                                <th>Blog Title</th>
                                                                <!-- <th>Blog</th> -->
                                                                <th align="center">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                        </tfoot>
                                                        <tbody>
                                                            {% for object in all_blogs %}
                                                            <tr>
                                                               <!--  <td>
                                                                    {{ forloop.counter }}
                                                                </td> -->
                                                                <td style="text-transform: capitalize;">
                                                                    {% if object.user_name == "other_business" %}
                                                                        Other Business
                                                                    {% elif object.user_name == "petrol_pump" %}
                                                                        Petrol Pump
                                                                    {% elif object.user_name == "parking_lot" %}
                                                                        Parking Lot
                                                                    {% else %}
                                                                        {{ object.user_name }}
                                                                    {% endif %}
                                                                </td>
                                                                <td style="text-transform: capitalize;">
                                                                    {{object.module_name_new}}
                                                                </td>
                                                                <td>
                                                                    {{object.blog_title}}
                                                                </td>
                                                               <!--  <td>
                                                                    {{ object.blog|safe }}
                                                                </td> -->

                                                                <td>
                                                                    <div class="form-button-action">

                                                                        {% csrf_token %}
                                                                        {% if actions.edit_permission == "1" %}
                                                                            <button type="button" data-toggle="tooltip"
                                                                                data-target="#myEditModal" title=""
                                                                                class="btn btn-link btn-primary btn-lg editBtn"
                                                                                id="edit-modal-div" data-original-title="Edit"
                                                                                data-url="{{object.id}}" data-id="{{object.id}}"
                                                                                data-user="{{ object.user_name }}"
                                                                                data-module="{{ object.module_name }}">
                                                                                <i class="fa fa-edit"></i>
                                                                            </button>
                                                                        {% endif %}

                                                                        {% if actions.delete_permission == "1" %}
                                                                            <button type="button" data-toggle="tooltip" title="Delete Blog"
                                                                                class="btn btn-link btn-danger btn-lg deleteBtn"
                                                                                data-original-title="Delete"
                                                                                data-url="{{object.id}}" data-id="{{object.id}}">
                                                                                <i class="fas fa-trash" aria-hidden="true"></i>
                                                                            </button>
                                                                        {% endif %}

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="card-body permission-denied" style="display:none">
                            <div class="permission-denied" style="padding: 5%">Permission Denied</div> 
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-blog-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <form class="form-control" action="/add-blog/" method="POST" name="form" id="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title w-100 text-center">Add Blog</h3>
          </div>
          <div class="modal-body">
            <input type="hidden" name="module_id">
            <div class="row">
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label for="name">Blog Title<small style="color: red;"> *</small></label>
                        <input type="text" name="blog_title" maxlength="50" class="form-control" value=""
                            placeholder="Blog Title" id="blog_title">
                    </div>
                    
                    <div id="blogtitleError"></div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        {{ BlogsForm.media }}
                        {{ BlogsForm }}
                    </div>
                </div>
            </div>
        </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </form>
    </div>
</div>

<!-- Edit Role Modal End-->
<div class="modal fade" id="myEditModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <form class="form-control" action="/add-blog/" method="POST" name="form" id="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}

            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Edit Blog</h2>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="module_id" id="edit_module_id">
                    <div class="row">
                      
                         <div class="col-md-6">
                            
                            <div class="form-group">
                                <label for="name">Blog Title<small style="color: red;"> *</small></label>
                                <input type="text" name="blog_title" class="form-control" value=""
                                    placeholder="Blog Title" maxlength="50" id="edit_blog_title" required="">
                            </div>
                            
                            <div id="blogtitleError"></div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ CkEditBlogsForm.media }}
                                {{ CkEditBlogsForm }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save" data-id="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Edit Role Modal End-->






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);

    }

    $(".isselect").click(function () {
        var user = $(this).val();

        $('select').empty();
        $.ajax({
            url: "/get-all-module-name/" + user + "/",
            success: function (data) {

                $.each(data.data, function (key, value) {

                    $('#edit_module_name').append("<option value='" + value.id + "'>" + value.module_name + "</option>");
                });

            }
        });


    });

    $(".isselect").click(function () {
        var user = $(this).val();
        $('select').empty();
        $.ajax({
            url: "/get-all-module-name/" + user + "/",
            success: function (data) {

                $.each(data.data, function (key, value) {

                    $('#module_name_id').append("<option value='" + value.id + "'>" + value.module_name + "</option>");
                });
                // $('#module_name_id').append(formoption);
            }
        });


    });


    var editmodaldiv = $("#edit-modal-div");
    $(".editBtn").on("click", function () {
        $.ajax({
            url: '/get-blog-data/' + $(this).attr("data-url") + '/',
            success: function (data) {
                CKEDITOR.instances['blog_edit'].setData(data.data['blog_messages']);

                var id_num = data.data['id']
                var user_name = data.data['user_name']
                var module_name = data.data['module_name']
                var blog_title = data.data['blog_title']
            

                $('select').empty();
                $.ajax({
                    url: "/get-all-module-name/" + user_name + "/",
                    success: function (data) {
                        $.each(data.data, function (key, value) {
                            if(module_name == value.id){
                                $('#edit_module_name').append("<option value='" + value.id + "' selected>" + value.module_name + "</option>");
                            }
                            else{
                                $('#edit_module_name').append("<option value='" + value.id + "'>" + value.module_name + "</option>");
                            }
                        });

                    }
                });

                $("#edit_module_id").val(id_num)
                $('#edit_user').val(user_name)
                $('#edit_module').val(module_name)
                $('#edit_blog_title').val(blog_title)
                

                if (user_name == "customer") {
                    $('#edit_customer').prop('checked', true);
                }
                else if (user_name == "other_business") {
                    $('#edit_other_business').prop('checked', true);
                }
                else if (user_name == "partner") {
                    $('#edit_partner').prop('checked', true);
                }
                else if (user_name == "parking_lot") {
                    $('#edit_parking_lot').prop('checked', true);
                }
                else if (user_name == "petrol_pump") {
                    $('#edit_petrol_pump').prop('checked', true);
                }

                if (module_name)
                    $('select option[value="edit_module_name"]').attr('selected', true);

                $("#myEditModal").modal();
            }
        });
    });


    $(function () {
        $('.deleteBtn').on('click', function (e) {
            e.preventDefault();

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    var id = $(this).attr("data-id");

                    $.ajax({
                        type: "POST",
                        url: "/delete-blog/" + id,
                        data: { csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value },
                        success: function (response) {
                            Swal.fire(

                                {
                                    title: 'Deleted!',
                                    text: 'Blog has been deleted',
                                    icon: 'success',
                                    timer: 1500,
                                    showConfirmButton: false,
                                })

                                .then(function () {
                                    location.reload();
                                });
                        },
                        error: function () {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Something went wrong!",
                                confirmButtonClass: "btn-success",
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            })
                                .then(function () {
                                    location.reload();
                                });
                        }
                    });
                }
            })
        });
    });

jQuery.validator.addMethod("lettersonly", function(value, element) 
{
return this.optional(element) || /^[a-z ]+$/i.test(value);
}, "Letters and spaces only please");

    $("#form").validate({
        rules: {
            user: {
                required: true,
            },
            module_name: {
                required: true,
            },
            blog_title:{
                required:true,
                lettersonly: true,
                maxlength: 35,
            }

        },

        messages: {
            user: {
                required: "This Field is Required",
            },
            module_name: {
                required: "This Field Is Required",
            },
            blog_title: {
                required: "This Field Is Required",
            },
        },

        errorPlacement: function (error, element) {
            if (element.attr("name") == "user")
                $("#userError").html(error);
            if (element.attr("name") == "module_name")
                $("#modulenameError").html(error);
            if (element.attr("name") == "blog_title")
                $("#blogtitleError").html(error);
           


        },
    });



</script>



<script>
    $(document).ready(function () {
      $("#basic-datatables").DataTable({});
  
      $("#multi-filter-select").DataTable({
        pageLength: 10,
        initComplete: function () {
          this.api()
            .columns()
            .every(function () {
              var column = this;
              var select = $(
                '<select class="form-control"><option value=""></option></select>'
              )
                .appendTo($(column.footer()).empty())
                .on("change", function () {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());
  
                  column.search(val ? "^" + val + "$" : "", true, false).draw();
                });
  
              column
                .data()
                .unique()
                .sort()
                .each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + "</option>");
                });
            });
        },
      });
  
      // Add Row
      // $("#add-row").DataTable({
      //   pageLength: 10,
      // });
  
      $('#SMSsubscription').DataTable({
        dom: 'lBfrtip',
        "ordering": false,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
          'excel', 'pdf', 'print'
        ],
        initComplete: function () {
              this.api().columns([3,]).every(function () {
                  var column = this;
                  console.log(column[0][0])
                  console.log("#test_" + column[0][0])
  
                  var select = $('<select multiple="multiple" id="column_id_' + column[0][0] + '"><option value=""></option></select>')
                      // var id = "#test_" + column[0][0];
  
                      .appendTo($("#test_" + column[0][0]).empty())
                      // .appendTo( $(column.header()).empty() )
                      .on('change', function () {
  
                          // var val = $.fn.dataTable.util.escapeRegex(
                          //     $(this).val()
                          // );
  
                          var val = $(':selected', select).map(function (index, element) {
                              return $.fn.dataTable.util.escapeRegex($(this).val());
                          }).toArray().join('|');
  
                          column
                              .search(val ? '^' + val + '$' : '', true, false)
                              .draw();
                      });
  
                  column.data().unique().sort().each(function (d, j) {
                      select.append('<option value="' + d + '">' + d + '</option>')
                  });
              });
  
  
            }
      });
  
      $("#column_id_3").select2({
          placeholder: " Blog  Title",
          closeOnSelect: true,
          width: '100%',
          // allowClear: true
      })
      // $("#column_id_2").select2({
      //     placeholder: " Select Bill Category",
      //     closeOnSelect: true,
      //     width: '100%',
      //     // allowClear: true
      // })
  
      var action =
        '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';
  
      $("#addRowButton").click(function () {
        $("#add-row")
          .dataTable()
          .fnAddData([
            $("#addName").val(),
            $("#addPosition").val(),
            $("#addOffice").val(),
            action,
          ]);
        $("#addRowModal").modal("hide");
      });
    });
  </script>



{% block javascripts %}

{% endblock javascripts %}