{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,">
	<title>Jyotish Junction</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/img/GrujiSpeaks-img/5.png' %}" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

	<!-- Animation CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

	<!-- font-family -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1K79WZ1L2Q"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-1K79WZ1L2Q');
	</script>

	<style>
		.main-wrapper.home-ten .book-appointment-section .book-appointment-ten {
			padding: 50px;
			/* background: #0E82FD; */
			background: -webkit-linear-gradient(#F1D06B, #fff, #F1D06B);
			border-radius: 35px;
			position: relative;
			overflow: hidden;
		}

		.main-wrapper.home-ten .book-appointment-section .book-appointment-ten h2 {
			color: #000;
			margin-bottom: 24px;
		}

		.main-wrapper.home-ten .book-appointment-section .book-appointment-ten p {
			max-width: 725px;
			color: rgb(0, 0, 0);
			margin: auto auto 50px;
		}
	</style>
</head>

<body>

	<div class="main-wrapper home-twelve">
		<div class="main-wrapper home-ten">
			<section class="book-appointment-section aos aos-init aos-animate" data-aos="fade-up">
				<div class=" text-center mt-5">
					<h3>Career - Your Cosmic Career Guide</h3>
					
				</div>
				<div class="container mb-5">
					<div class="book-appointment-ten text-center mt-5">
						<h2>Aries</h2>
						<p>Aries individuals are often seen as ambitious and action-oriented. They're natural leaders
							and tend to thrive in roles that allow them to take charge and initiate projects. They enjoy
							challenges and can be competitive in their career pursuits.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Taurus</h2>
						<p> Taurus individuals value stability and financial security in their careers. They excel in
							roles that require patience, determination, and a strong work ethic. They are often drawn to
							careers in finance, real estate, or the arts.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Gemini</h2>
						<p> Geminis are versatile and adaptable in their careers. They excel in roles that require
							communication, problem-solving, and mental agility. They may find success in fields like
							marketing, journalism, or sales.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Cancer</h2>
						<p>Cancer individuals are nurturing and often gravitate toward careers that involve caregiving
							or helping others. They excel in roles that require empathy and emotional intelligence, such
							as nursing, counseling, or teaching.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Leo</h2>
						<p> Leos are confident and seek recognition and admiration in their careers. They excel in roles
							that allow them to be in the spotlight, such as acting, leadership positions, or
							entrepreneurship. They have strong leadership potential.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Virgo</h2>
						<p> Virgos are detail-oriented and excel in roles that require precision and organization. They
							are often found in healthcare, research, and administrative positions. They value efficiency
							and quality in their work.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Libra</h2>
						<p> Libra individuals value balance and harmony in their careers. They excel in roles that
							require negotiation, diplomacy, and a sense of fairness. They may be drawn to careers in
							law, public relations, or the arts.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Scorpio</h2>
						<p> Scorpios are intense and determined in their careers. They excel in roles that require
							research, investigation, and a deep understanding of complex matters. They may find success
							in fields like psychology, detective work, or finance.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Sagittarius</h2>
						<p> Sagittarians are adventurous and value freedom in their careers. They often thrive in roles
							that involve travel, exploration, and learning. They may find fulfillment in careers related
							to education, travel, or publishing.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Capricorn</h2>
						<p> Capricorns are responsible and goal-oriented. They excel in roles that require leadership,
							strategy, and discipline. They often rise to the top of their chosen field and value
							long-term success.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Aquarius</h2>
						<p> Aquarians are innovative and forward-thinking in their careers. They excel in roles that
							involve technology, social change, and humanitarian efforts. They may be drawn to careers in
							science, technology, or activism.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2>Pisces</h2>
						<p> Pisces individuals are creative and intuitive. They excel in roles that involve the arts,
							healing, and helping others. They may find success in careers related to music, healthcare,
							or counseling.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<p>These are general traits associated with each zodiac sign's approach to their careers.
							Remember that individual experiences can vary widely, and career success depends on a
							combination of factors, including skills, education, and personal interests.-- by Acharya
							Vaikatesh
						</p>
					</div>







				</div>
			</section>
		</div>
	</div>

				<!-- jQuery -->
				<script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
				
				<!-- Bootstrap Bundle JS -->
				<!-- <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script> -->
				
				<!-- Feather Icon JS -->
				<script src="{% static 'assets/js/feather.min.js' %}"></script>
				
				<!-- Datepicker JS -->
				<script src="{% static 'assets/js/moment.min.js' %}"></script>
				<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
				
				<!-- Owl Carousel JS -->
				<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
				
				<!-- Slick JS -->
				<script src="{% static 'assets/js/slick.js' %}"></script>
				
				<!-- Animation JS -->
				<script src="{% static 'assets/js/aos.js' %}"></script>
				
				<!-- Counter JS -->
				<script src="assets/js/counter.js"></script>
				
				<!-- BacktoTop JS -->
				<script src="{% static 'assets/js/backToTop.js' %}"></script>
				
				<!-- Custom JS -->
				<script src="{% static 'assets/js/script.js' %}"></script>
	</body>

</html>
{% endblock %}