{% extends 'customer_base.html' %} {% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,">
	<title>Jyotish Junction</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/img/GrujiSpeaks-img/5.png' %}" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

	<!-- Animation CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

	<!-- font-family -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1K79WZ1L2Q"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-1K79WZ1L2Q');
	</script>

	<style>
		.main-wrapper.home-ten .book-appointment-section .book-appointment-ten {
			padding: 50px;
			/* background: #0E82FD; */
			background: -webkit-linear-gradient(#F1D06B, #fff, #F1D06B);
			border-radius: 35px;
			position: relative;
			overflow: hidden;
		}

		.main-wrapper.home-ten .book-appointment-section .book-appointment-ten h2 {
			color: #000;
			margin-bottom: 24px;
		}

		.main-wrapper.home-ten .book-appointment-section .book-appointment-ten p {
			max-width: 725px;
			color: rgb(0, 0, 0);
			margin: auto auto 50px;
		}
	</style>
</head>
<body>
    <div class="main-wrapper home-ten">
		<section class="book-appointment-section aos aos-init aos-animate" data-aos="fade-up">
			<div class=" text-center mt-5">
				<h3>Love - Love & Stars Your Cosmic Connection</h3>
				
			</div>
			<div class="container mb-5">
				<div class="book-appointment-ten text-center mt-5">
					<h2>Aries</h2>
					<p>Aries individuals are passionate, adventurous, and enjoy the thrill of the chase. They can be impulsive in love and seek excitement. They value a partner who can keep up with their active lifestyle and share their enthusiasm.</p>
				</div>

				<div class="book-appointment-ten text-center mt-5">
					<h2> Taurus</h2>
					<p>  Taurus individuals value stability, security, and comfort in love. They are loyal and affectionate, seeking a partner who can provide a sense of security and share in life's pleasures.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2>  Gemini</h2>
					<p> Geminis are social, communicative, and value mental stimulation in love. They enjoy variety and may have multiple interests and relationships over time. They seek partners who can engage them in lively conversations.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2>  Cancer</h2>
					<p>  Cancer individuals are nurturing, emotional, and seek deep emotional connections in love. They are highly loyal and protective of their loved ones, and family plays a significant role in their relationships.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2> Leo</h2>
					<p> Leos are passionate and love being the center of attention in their relationships. They enjoy admiration and showering their partner with affection. Loyalty and mutual admiration are essential to them.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2>  Virgo</h2>
					<p> Virgos are practical, detail-oriented, and seek stability in love. They value a partner who is organized and appreciates their acts of service. They may be critical at times but usually with good intentions.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2>Libra</h2>
					<p> Libra individuals value balance, harmony, and fairness in love. They are diplomatic and charming, seeking equality and a sense of partnership in their relationships. Aesthetic and beauty are also important to them.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2> Scorpio</h2>
					<p> Scorpios are intense and passionate in love, seeking deep and transformative connections. They prioritize trust and honesty in their relationships and are known for their loyalty.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2> Sagittarius</h2>
					<p> Sagittarians are adventurous and free-spirited in love. They value their independence and enjoy exploring new experiences. They may be hesitant to commit too quickly.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2>  Capricorn</h2>
					<p> Capricorns are responsible and goal-oriented in their approach to love. They seek a partner who shares their ambitions and values stability and long-term commitment. Building a future together is essential.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2> Aquarius</h2>
					<p>  Aquarians are independent and forward-thinking in their love lives. They appreciate intellectual connections and value their freedom in relationships. They may have unconventional approaches to love.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<h2>   Pisces</h2>
					<p> Pisces individuals are romantic, sensitive, and seek deep emotional connections in love. They are compassionate and may be prone to idealizing their partners. Creativity and intuition are significant in their relationships.</p>
				</div>
				<div class="book-appointment-ten text-center mt-5">
					<p> Again, these are general traits associated with each zodiac sign, and individual experiences in love and relationships can vary widely. Astrology should be viewed as a source of insight and entertainment rather than a strict guide to understanding love.-- ByAcharyaSachin</p>
				</div>
			</div>
		</section>
       
    </div>

    <!-- jQuery -->
	<script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>

	<!-- Bootstrap Bundle JS -->
	<!-- <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script> -->

	<!-- Feather Icon JS -->
	<script src="{% static 'assets/js/feather.min.js' %}"></script>

	<!-- Datepicker JS -->
	<script src="{% static 'assets/js/moment.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>

	<!-- Owl Carousel JS -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

	<!-- Slick JS -->
	<script src="{% static 'assets/js/slick.js' %}"></script>

	<!-- Animation JS -->
	<script src="{% static 'assets/js/aos.js' %}"></script>

	<!-- Counter JS -->
	<script src="assets/js/counter.js"></script>

	<!-- BacktoTop JS -->
	<script src="{% static 'assets/js/backToTop.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
{% endblock %}