{% extends 'base.html' %}   {% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,">
	<title>Jyotish Junction</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/img/GrujiSpeaks-img/5.png' %}" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

	<!-- Animation CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

	<!-- font-family -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1K79WZ1L2Q"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-1K79WZ1L2Q');
	</script>

	<style>
		.main-wrapper.home-ten .book-appointment-section .book-appointment-ten {
			padding: 50px;
			/* background: #0E82FD; */
			background: -webkit-linear-gradient(#F1D06B, #fff, #F1D06B);
			border-radius: 35px;
			position: relative;
			overflow: hidden;
		}

		.main-wrapper.home-ten .book-appointment-section .book-appointment-ten h2 {
			color: #000;
			margin-bottom: 24px;
		}

		.main-wrapper.home-ten .book-appointment-section .book-appointment-ten p {
			max-width: 725px;
			color: rgb(0, 0, 0);
			margin: auto auto 50px;
		}
	</style>
</head>
<body>
    <div class="main-wrapper home-twelve">
		<div class="main-wrapper home-ten">
			
			<section class="book-appointment-section aos aos-init aos-animate" data-aos="fade-up">
				<div class=" text-center mt-5">
					<h3>Luck - Embracing Cosmic Fortune</h3>
					
				</div>
				<div class="container mb-5">
					
					<div class="book-appointment-ten text-center mt-5">
						<h2>Aries</h2>
						<p>Aries individuals tend to believe in creating their own luck through their proactive and assertive nature. They are often willing to take risks and seize opportunities, believing that action leads to favorable outcomes.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Taurus</h2>
						<p> Taurus individuals may feel that they create their own luck through their dedication and hard work. They believe that persistence and a solid foundation are key to attracting positive outcomes.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Gemini</h2>
						<p>Geminis might see luck as a combination of opportunities and their ability to adapt and seize them. They believe that their versatility and intellectual curiosity contribute to their fortunate experiences.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Cancer</h2>
						<p>Cancer individuals may view luck as a result of their strong intuition and emotional sensitivity. They believe that following their instincts and nurturing their relationships can lead to positive outcomes.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Leo</h2>
						<p> Leos often feel that luck is a product of their confidence and charisma. They believe that their ability to shine, take the lead, and attract attention can lead to favorable circumstances.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Virgo</h2>
						<p>  Virgos tend to think of luck as a result of their attention to detail and practicality. They believe that their meticulous planning and analytical approach lead to fortunate outcomes.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Libra</h2>
						<p> Libra individuals often see luck as a product of balance and harmony. They believe that maintaining fairness and forming positive relationships contribute to their good fortune.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Scorpio</h2>
						<p>Scorpios may perceive luck as a result of their intense determination and resourcefulness. They believe that their ability to uncover hidden opportunities and navigate challenges leads to success.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Sagittarius</h2>
						<p> Sagittarians often view luck as a result of their adventurous and optimistic nature. They believe that taking risks, embracing opportunities, and having a positive outlook contribute to favorable outcomes.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Capricorn</h2>
						<p> Capricorns may see luck as a result of their disciplined and hardworking approach. They believe that setting and pursuing ambitious goals leads to success and good fortune.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Aquarius</h2>
						<p> Aquarians tend to think of luck as a product of their innovative and forward-thinking ideas. They believe that their ability to break free from conventions and envision the future can lead to favorable circumstances.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<h2> Pisces</h2>
						<p> Pisces individuals often perceive luck as a result of their creativity and intuition. They believe that their ability to tap into their dreams and empathize with others contributes to fortunate outcomes.
						</p>
					</div>

					<div class="book-appointment-ten text-center mt-5">
						<p> It's important to note that astrology is not a science, and individual experiences of luck are shaped by a wide range of factors, including personal actions, attitudes, and circumstances. While astrology can offer insights into personality traits, it should not be used as the sole determinant of one's perception of luck or success.-- by AcharyaHarshal
						</p>
					</div>
				</div>
			</section>
		</div>
	</div>
      

    <!-- jQuery -->
	<script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>

	<!-- Bootstrap Bundle JS -->
	<!-- <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script> -->

	<!-- Feather Icon JS -->
	<script src="{% static 'assets/js/feather.min.js' %}"></script>

	<!-- Datepicker JS -->
	<script src="{% static 'assets/js/moment.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>

	<!-- Owl Carousel JS -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

	<!-- Slick JS -->
	<script src="{% static 'assets/js/slick.js' %}"></script>

	<!-- Animation JS -->
	<script src="{% static 'assets/js/aos.js' %}"></script>

	<!-- Counter JS -->
	<script src="assets/js/counter.js"></script>

	<!-- BacktoTop JS -->
	<script src="{% static 'assets/js/backToTop.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
{% endblock %}