<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment Success</title>
</head>
<body>
    <h1>Payment Success</h1>
    <h1>transaction_id {{transaction_id}}</h1>
    <h1>muser_id{{muser_id}}</h1>
    <h1>amount{{amount}}</h1>
    <h1>recharge_date{{recharge_date}}</h1>
    <h1>recharge_time{{recharge_time}}</h1>
    <h1>Payment wallet_month{{wallet_month}}</h1>
    <h1>Payment name{{name}}</h1>

</body>
</html>